html,body{
    margin: 0;
    padding: 0;
    background: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #fff;
    color: #000;
}
h1{
    margin: 0;
    padding: 0;
}
.content{
    height: 100%;
    flex: 1 0 auto;
}
.info{
    color: blue;
}
.infoa{
    text-decoration: none;
    color: black;
}
.logo{
    margin-left:30px;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin: left;
    width: 50px;
    margin-left: 10px;
    transform: rotate(-20deg);
}
.menu-items a{
    font-family: 'Yeseva One', cursive;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.menu-items a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}
.main{
    background: #000;
    height: 849px;
    font-size: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
}
.main a{
    text-decoration: none;
    color: white;
}

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    font-size: 15px;
}
.social{
    list-style: none;
    display: flex;
    justify-content:space-between;
    width:450px ;
}
.social__item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition:all 1s;
}
.social__item:hover{
    cursor: pointer;
}
.viber:hover{
    border-color: rgb(224, 0, 224);
    box-shadow: 0 0 20px rgb(224, 0, 224);
    color:rgb(224, 0, 224);

}
.instagram:hover{
    border-color:#bc2a8d;
    box-shadow:0 0 20px #bc2a8d ;
    color:#bc2a8d;
}
.vk:hover{
    border-color: #3d5afe;
    box-shadow: 0 0 20px #3d5afe;
    color:#3d5afe;
}
.twitter:hover{
    border-color: #00aced;
    box-shadow: 0 0 20px #00aced;
    color:#00aced;
}
.youtube:hover{
    border-color: #dd4b39;
    box-shadow: 0 0 20px #dd4b39;
    color:#dd4b39;
}
